In [1]:
import numpy as np
import pandas as pd
from glob import glob
from os.path import join, dirname

In [2]:
root_dir = '/Users/clmn/Desktop/GitHub/clmnlab/labs/DM'
behav_dir = root_dir + '/DMdata'

In [3]:
subj_dir = glob(join(behav_dir,'DM*'))
subj_dir.sort()

In [4]:
ds = pd.DataFrame(columns=['Trial','ObjID','LocID','FB','Task','RT','Stim'])
for sd in subj_dir:
    subj = sd[-4:]
    temp = pd.read_csv(sd+'/%s_study.txt'%subj, sep='\t', index_col=False)
    temp['Subj'] = subj
    ds = ds.append(temp)
ds = ds.set_index(keys='Subj')
ds

     Trial ObjID LocID FB Task   RT    Stim
Subj
DM01     1   245     4  1   -2  796    4010
DM01     2   183     2  1   -2  882   12022
DM01     3    54     1  1   -2  115   18020
DM01     4   220     3  1   -2  149   24018
DM01     5    65     2  1   -2  815   30016
...    ...   ...   ... ..  ...  ...     ...
DM31   260   179     1  1   -1  568  681797
DM31   261   153     4  1   -1  655  689802
DM31   262    54     2  1   -1  641  701794
DM31   263    53     3  1   -1  672  711789
DM31   264   163     1  1   -1  706  721782

[8184 rows x 7 columns]

In [5]:
dt = pd.DataFrame(columns=['Trial','Object_ID','Task_Type','Stim_onset1','RT1','Res1','Stim_onset2','RT2','Res2'])
for sd in subj_dir:
    subj = sd[-4:]
    temp = pd.read_csv(sd+'/%s_test.txt'%subj, sep='\s+', header=0)
    temp['Subj'] = subj
    dt = dt.append(temp)
dt = dt.set_index(keys='Subj')
dt

     Trial Object_ID Task_Type Stim_onset1   RT1 Res1 Stim_onset2   RT2 Res2
Subj
DM01     1        72         1        1017  3863    2           0     0    0
DM01     2       122         1        7632  3480    4           0     0    0
DM01     3       114         1       13866  1264    3           0     0    0
DM01     4       108         0       17882  1464    1       21083  3549    3
DM01     5       145         0       25765  1631    1       29133  1032    3
...    ...       ...       ...         ...   ...  ...         ...   ...  ...
DM31   524        54         0     2476861   662    4     2479259   448    5
DM31   525       253         0     2480724   746    1     2483204   565    2
DM31   526       108         1     2484902   479    4           0     0    0
DM31   527        38         0     2488132   528    1     2490396  1048    4
DM31   528         5         1     2492577   362    4           0     0    0

[16368 rows x 9 columns]