In [2]:
import numpy as np
import pandas as pd
from glob import glob
from os.path import join, dirname

In [3]:
root_dir = '/Users/clmn/Desktop/GitHub/clmnlab/labs/DM'
behav_dir = root_dir + '/DMdata'

In [4]:
subj_dir = glob(join(behav_dir,'DM*'))
subj_dir.sort()

In [6]:
ds = pd.DataFrame(columns=['Trial','ObjID','LocID','FB','Task','RT','Stim'])
for sd in subj_dir:
    subj = sd[-4:]
    temp = pd.read_csv(sd+'/%s_study.txt'%subj, sep='\t', index_col=False)
    temp['Subj'] = subj
    ds = ds.append(temp)
ds = ds.set_index(keys='Subj')
ds = ds[['Trial','ObjID','LocID']]
ds

     Trial ObjID LocID
Subj
DM01     1   245     4
DM01     2   183     2
DM01     3    54     1
DM01     4   220     3
DM01     5    65     2
...    ...   ...   ...
DM31   260   179     1
DM31   261   153     4
DM31   262    54     2
DM31   263    53     3
DM31   264   163     1

[8184 rows x 3 columns]

In [7]:
dt = pd.DataFrame(columns=['Trial','Object_ID','Task_Type','Stim_onset1','RT1','Res1','Stim_onset2','RT2','Res2'])
for sd in subj_dir:
    subj = sd[-4:]
    temp = pd.read_csv(sd+'/%s_test.txt'%subj, sep='\s+', header=0)
    temp['Subj'] = subj
    dt = dt.append(temp)
dt = dt.set_index(keys='Subj')
dt = dt[['Trial','Object_ID','Task_Type','Res1','Res2']]
dt

     Trial Object_ID Task_Type Res1 Res2
Subj
DM01     1        72         1    2    0
DM01     2       122         1    4    0
DM01     3       114         1    3    0
DM01     4       108         0    1    3
DM01     5       145         0    1    3
...    ...       ...       ...  ...  ...
DM31   524        54         0    4    5
DM31   525       253         0    1    2
DM31   526       108         1    4    0
DM31   527        38         0    1    4
DM31   528         5         1    4    0

[16368 rows x 5 columns]

In [10]:
np.unique(dt['Task_Type'])

array([0, 1], dtype=object)

## Type : old = 0, new = 1
## Response 1 : OHC = 1, OLC = 2, NLC = 3, NHC = 4
## Response 2 : Location, Miss = 0, Pass = 5